In [3]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# URL de la página web
url = "https://www.numbeo.com/cost-of-living/prices_by_country.jsp?displayCurrency=USD&itemId=101&itemId=100&itemId=228&itemId=224&itemId=60&itemId=66&itemId=64&itemId=62&itemId=110&itemId=118&itemId=121&itemId=14&itemId=19&itemId=17&itemId=15&itemId=11&itemId=16&itemId=113&itemId=9&itemId=12&itemId=8&itemId=119&itemId=111&itemId=112&itemId=115&itemId=116&itemId=13&itemId=27&itemId=26&itemId=29&itemId=28&itemId=114&itemId=6&itemId=4&itemId=5&itemId=3&itemId=2&itemId=1&itemId=7&itemId=105&itemId=106&itemId=44&itemId=40&itemId=42&itemId=24&itemId=20&itemId=18&itemId=109&itemId=108&itemId=107&itemId=206&itemId=25&itemId=30&itemId=33&itemId=34"

# Realizar la solicitud GET a la página web
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

# Encontrar la tabla en la página
table = soup.find("table", {"id": "t2"})

# Obtener las columnas del thead
columns = [th.get_text(strip=True) for th in table.find("thead").find_all("th")]

# Obtener las filas del tbody
rows = []
for tr in table.find("tbody").find_all("tr"):
    row = [td.get_text(strip=True) for td in tr.find_all("td")]
    rows.append(row)

# Crear el DataFrame
df = pd.DataFrame(rows, columns=columns)

# Mostrar las primeras filas del DataFrame
print(df)

   Rank            Country Meal, Inexpensive Restaurant  \
0        Hong Kong (China)                         8.34
1                   Cyprus                        16.38
2                 Malaysia                         3.37
3               Kazakhstan                         8.37
4                 Portugal                        10.92
..  ...                ...                          ...
90                  Israel                        18.48
91               Australia                        16.47
92              Montenegro                        10.92
93                 Estonia                        13.10
94               Indonesia                         1.89

   Meal for 2 People,Mid-range Restaurant, Three-course  \
0                                               64.14
1                                               65.52
2                                               22.45
3                                               31.39
4                                               43.68
..                                                ...
90                                              79.18
91                                              79.07
92                                              46.41
93                                              65.52
94                                              15.72

   McMeal at McDonalds(or Equivalent Combo Meal)  \
0                                           5.84
1                                           8.67
2                                           4.04
3                                           6.28
4                                           8.74
..                                           ...
90                                         14.52
91                                          9.88
92                                          7.64
93                                          9.06
94                                          3.14

   Domestic Beer(0.5 liter draught) Imported Beer(0.33 liter bottle)  \
0                              7.06                             7.06
1                              3.28                             5.46
2                              3.59                             4.49
3                              1.26                             2.51
4                              2.73                             3.28
..                              ...                              ...
90                             7.92                             7.92
91                             7.25                             7.25
92                             2.73                             3.28
93                             5.46                             5.46
94                             2.36                             3.62

   Coke/Pepsi(0.33 liter bottle) Water(0.33 liter bottle)  \
0                           1.38                     1.13
1                           2.02                     0.90
2                           0.73                     0.42
3                           0.85                     0.46
4                           1.77                     1.26
..                           ...                      ...
90                          2.61                     2.16
91                          2.62                     2.20
92                          2.16                     1.51
93                          2.33                     2.07
94                          0.56                     0.31

   Milk(regular),(1 liter)  ... Lettuce(1 head) Cappuccino(regular)  \
0                     3.32  ...            1.76                5.37
1                     1.78  ...            0.81                3.81
2                     1.65  ...            0.99                2.69
3                     1.19  ...            1.07                2.14
4                     1.02  ...            1.49                1.98
..                     ...  ...             ...                 ...
90                    1.76  ...            1.76                3.66
91                    1.54  ...            2.29                3.50
92                    1.38  ...            1.34                2.15
93                    1.14  ...            1.82                3.72
94                    1.29  ...            0.88                1.96

   Rice(white),(1kg) Tomato(1kg) Banana(1kg) Onion(1kg)  \
0               2.34        3.26        2.49       2.68
1               2.63        2.74        1.95       1.34
2               1.29        1.31        1.27       1.04
3               1.58        2.03        1.96       0.46
4               1.50        2.41        1.39       1.91
..               ...         ...         ...        ...
90              2.64        1.83        2.06       1.37
91              2.12        4.38        2.69       2.13
92              2.13        2.48        1.86       1.18
93              2.21        2.71        1.39       0.98
94              0.88        1.28        1.42       2.14

   Beef Round(1kg)(or Equivalent Back Leg Red Meat)  \
0                                             24.51
1                                             13.40
2                                              7.86
3                                              7.63
4                                             13.11
..                                              ...
90                                            17.98
91                                            14.33
92                                            10.71
93                                            16.00
94                                             7.98

   Toyota Corolla Sedan 1.6l 97kW Comfort(Or Equivalent New Car)  \
0                                            31661.10
1                                            30254.35
2                                            29468.04
3                                            26884.25
4                                            37052.51
..                                                ...
90                                           39245.42
91                                           22664.01
92                                           29483.27
93                                           29219.28
94                                           30226.22

   Preschool(or Kindergarten), Full Day, Private, Monthly for 1 Child  \
0                                              980.90
1                                              463.32
2                                              167.42
3                                              236.06
4                                              467.57
..                                                ...
90                                             929.75
91                                            1606.67
92                                             272.26
93                                             297.22
94                                             112.77

   International Primary School, Yearly for 1 Child
0                                          22267.81
1                                           7918.79
2                                           6622.44
3                                           7970.24
4                                          10856.64
..                                              ...
90                                          9767.78
91                                         12580.29
92                                          8251.41
93                                          8436.35
94                                          5973.19

[95 rows x 57 columns]

In [6]:
# Pivotear las columnas que no sean "Rank" o "Country"
df_melted = pd.melt(df, id_vars=["Rank", "Country"], var_name="item_names", value_name="price_USD")

# Convertir los valores de la columna "price_USD" a tipo float
df_melted["price_USD"] = pd.to_numeric(df_melted["price_USD"], errors='coerce')

In [28]:
df_melted[(df_melted.item_names == 'Gasoline(1 liter)')]['price_USD'].mean()*1330

1783.6

In [23]:
df_melted.item_names.unique()

array(['Meal, Inexpensive Restaurant',
       'Meal for 2 People,Mid-range Restaurant, Three-course',
       'McMeal at McDonalds(or Equivalent Combo Meal)',
       'Domestic Beer(0.5 liter draught)',
       'Imported Beer(0.33 liter bottle)',
       'Coke/Pepsi(0.33 liter bottle)', 'Water(0.33 liter bottle)',
       'Milk(regular),(1 liter)', 'Loaf of Fresh White Bread(500g)',
       'Eggs(regular)(12)', 'Local Cheese(1kg)',
       'Water(1.5 liter bottle)', 'Bottle of Wine(Mid-Range)',
       'Domestic Beer(0.5 liter bottle)', 'Cigarettes 20 Pack(Marlboro)',
       'One-way Ticket(Local Transport)', 'Chicken Fillets(1kg)',
       'Monthly Pass(Regular Price)', 'Gasoline(1 liter)',
       'Volkswagen Golf1.4 90 KW Trendline(Or Equivalent New Car)',
       'Apartment(1 bedroom)in City Centre',
       'Apartment(1 bedroom)Outside of Centre',
       'Apartment(3 bedrooms)in City Centre',
       'Apartment(3 bedrooms)Outside of Centre',
       'Basic(Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
       'Internet(60 Mbps or More, Unlimited Data, Cable/ADSL)',
       'Mobile Phone Monthly Plan with Calls and 10GB+ Data',
       'Fitness Club, Monthly Fee for 1 Adult',
       'Tennis Court Rent(1 Hour on Weekend)',
       'Cinema, International Release, 1 Seat',
       '1 Pair of Jeans(Levis 501 Or Similar)',
       '1 Summer Dress in a Chain Store(Zara, H&M, ...)',
       '1 Pair of Nike Running Shoes(Mid-Range)',
       '1 Pair of Men Leather Business Shoes',
       'Price per Square Meterto Buy Apartmentin City Centre',
       'Price per Square Meterto Buy ApartmentOutside of Centre',
       'Average Monthly Net Salary(After Tax)',
       'Mortgage Interest Rate in Percentages(%), Yearly, for 20 Years Fixed-Rate',
       'Taxi Start(Normal Tariff)', 'Taxi 1km(Normal Tariff)',
       'Taxi 1hour Waiting(Normal Tariff)', 'Apples(1kg)', 'Oranges(1kg)',
       'Potato(1kg)', 'Lettuce(1 head)', 'Cappuccino(regular)',
       'Rice(white),(1kg)', 'Tomato(1kg)', 'Banana(1kg)', 'Onion(1kg)',
       'Beef Round(1kg)(or Equivalent Back Leg Red Meat)',
       'Toyota Corolla Sedan 1.6l 97kW Comfort(Or Equivalent New Car)',
       'Preschool(or Kindergarten), Full Day, Private, Monthly for 1 Child',
       'International Primary School, Yearly for 1 Child'], dtype=object)